<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@localization["Layout.Header.Title.Text"]</title>

    <!-- Auth Layout Bundle -->
    <link rel="stylesheet" href="~/bundles/css/auth.layout.bundle.min.css" />

</head>
<body class="hold-transition login-page">

    @RenderBody()

    <!-- Auth Layout Bundle -->
    <script src="~/bundles/js/auth.layout.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    @await Component.InvokeAsync("Notyf")

</body>
</html>
