@model ResetPasswordRequestDto

@{
    ViewData["Title"] = "RecoverPassword";
    Layout = "_AuthLayout";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-info" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <div class="row">
                <img class="img-fluid mb-4 rounded mx-auto d-block"
                     src="~/img/icon/app-logo-primary.png"
                     alt=""
                     width="64"
                     height="64" />
            </div>
            <a href="~/index2.html" class="h1">Ziyaretçi Defteri</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Yeni şifrenizi almanız için son bir adım kaldı.</p>
            <p class="login-box-msg">Lütfen yeni şifrenizi aşağıda belirtilen alanlara girin ve değişikliği onaylayın.</p>
            <form asp-controller="Auth" asp-action="ResetPassword" method="post">
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Yeni Şifre" asp-for="@Model.Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Yeni Şifre (Tekrar)" asp-for="@Model.PasswordConfirm">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Şifremi Değiştir</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <p class="mt-3 mb-1">
                <a asp-controller="Auth" asp-action="Login">Giriş Yap</a>
            </p>
            <p>
                <a asp-controller="Home" asp-action="Index" class="text-center">Ana Sayfaya Geri Dön</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

