@model VisitorViewModel

@{
    ViewData["Title"] = "Add or Edit";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" onsubmit="return AddRecord(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Visitor.Id" />
            <div class="row mt-4">
                <div class="form-group">
                    <label asp-for="Visitor.Name" class="control-label"></label>
                    <input asp-for="Visitor.Name" class="form-control" />
                    <span asp-validation-for="Visitor.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="form-group">
                    <label asp-for="Visitor.Surname" class="control-label"></label>
                    <input asp-for="Visitor.Surname" class="form-control" />
                    <span asp-validation-for="Visitor.Surname" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Visitor.BirthDate" class="control-label"></label>
                        <input asp-for="Visitor.BirthDate" class="form-control" />
                        <span asp-validation-for="Visitor.BirthDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Visitor.Gender" class="control-label"></label>
                        <select asp-for="Visitor.Gender" asp-items="@Model.GenderList" class="form-select">
                            <option disabled selected>--Select Gender--</option>
                        </select>
                        <span asp-validation-for="Visitor.Gender" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-4" id = "CityDropdown">
                <div class="form-group">
                    <label asp-for="Visitor.VisitorAddress.CityId" class="control-label"></label>
                    <select asp-for="Visitor.VisitorAddress.CityId" asp-items="@Model.CityList" class="form-select">
                        <option disabled selected>--Select City--</option>
                    </select>
                    <span asp-validation-for="Visitor.VisitorAddress.StateId" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-4" id = "StateDropdown">
                <div class="form-group">
                    <label asp-for="Visitor.VisitorAddress.StateId" class="control-label"></label>
                    <select asp-for="Visitor.VisitorAddress.StateId" asp-items="@Model.StateList" class="form-select">
                        <option disabled selected>--Select State--</option>
                    </select>
                    <span asp-validation-for="Visitor.VisitorAddress.StateId" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="form-group mt-4">
                        <input type="submit" value="Submit" class="btn btn-primary w-100" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}