<div class="container">
    <table id="tblData" class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Surname
                </th>
                <th>
                    Birth Date
                </th>
                <th>
                    Gender
                </th>
                <th>

                </th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/visitor.js"></script>
}
