<div class="container">
    <h1 class="text-center">State List</h1>
    <div>
        <div class="float-start" id="outside">
        </div>
        <div class="float-end">
            <a onclick="showInPopup('@Url.Action("AddOrEdit", "State", new { Id = 0 }, Context.Request.Scheme)', 'Add State')"
               class="btn btn-primary mb-3 float-end" role='button'>
                Add State
            </a>
        </div>
    </div>
    <table id="tblData" class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>
                    State Name
                </th>
                <th>
                    City Name
                </th>
                <th>
                    Latitude
                </th>
                <th>
                    Longitude
                </th>
                <th>

                </th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/state.js"></script>
}
