@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="card border-success mb-3">
                <div class="card-body text-success text-center">
                    <h1 class="card-title">232</h1>
                    <h4>km</h4>
                    <h5>Eren Gaygusuz</h5>
                </div>
                <div class="card-footer bg-transparent border-success text-center">
                    <h5>Tek Seferde Gidilen En Uzun Mesafe</h5>
                </div> 
            </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="card border-success mb-3">
                <div class="card-body text-success text-center">
                    <h1 class="card-title">576</h1>
                    <h4>km</h4>
                    <h5>Eren Özcan</h5>
                </div>
                <div class="card-footer bg-transparent border-success text-center">
                    <h5>Toplam Gidilen En Uzun Mesafe</h5>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="card border-success mb-3">
                <div class="card-body text-success text-center">
                    <h1 class="card-title">76</h1>
                    <h4>ilçe</h4>
                    <h5>Ceyda Meyda</h5>
                </div>
                <div class="card-footer bg-transparent border-success text-center">
                    <h5>En Çok İlçe Gezen Kişi</h5>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="card border-success mb-3">
                <div class="card-body text-success text-center">
                    <h1 class="card-title">24</h1>
                    <h4>il</h4>
                    <h5>Tuğçe Sevgi</h5>
                </div>
                <div class="card-footer bg-transparent border-success text-center">
                    <h5>En Çok İl Gezen Kişi</h5>
                </div>
            </div>
        </div>
    </div>
</div>
