<html>

<head>
    <style>
        table,
        th,
        td {
            border-collapse: collapse;
        }
    </style>
</head>

<body style="width: 100%; height: 100%; background-color: #bfedd2; padding: 0%; margin: 0%;">
    <table style="width: 100%; height: 100vh;">
        <tr style="height: 100%;">
            <td style="width: 20%;"></td>
            <td style="width: 60%; text-align: center; background-color: white;">
                <h1 style="margin-bottom: 100px;">@SITE_NAME@</h1>
                <h2 style="margin-bottom: 40px;">@GREETING@ @USER_NAME@,</h2>
                <p>
                    @PARAGRAPH_LINE1@
                </p>
                <p style="margin-bottom: 40px;">
                    @PARAGRAPH_LINE2@
                </p>
                <p style="margin-top: 40px; margin-bottom: 30px;">
                    @PARAGRAPH_LINE3@: @USER_EMAIL@
                </p>
                <p style="margin-top: 30px; margin-bottom: 30px;">
                    @PARAGRAPH_LINE4@: @USER_PASSWORD@
                </p>
                <p style="margin-bottom: 40px;">
                    @PARAGRAPH_LINE2@
                </p>
                <p style="margin-top: 100px;">
                    @FOOTER_ITEM1@
                </p>
                <a href="mailto:@SITE_EMAIL@">
                    @SITE_EMAIL@
                </a>
                <p>
                    @FOOTER_ITEM2@
                </p>
                <a href="@SITE_CONTACT_PAGE1@">
                    @SITE_CONTACT_PAGE1@
                </a>
                <p>
                    @FOOTER_ITEM3@
                </p>
            </td>
            <td style="width: 20%;"></td>
        </tr>
    </table>
</body>

</html>