@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@inject IOptions<RequestLocalizationOptions> LocalizationOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocalizationOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.Name })
        .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path)
        ? "~/"
        : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}
<div>
    <form asp-controller="Home" asp-action="SetCulture" asp-route-returnUrl="@returnUrl"
          class="form-horizontal nav-link text-dark">
        <select name="culture" class="form-select"
                onchange="this.form.submit();"
                asp-for="@requestCulture.RequestCulture.UICulture.Name">
            @foreach (var item in cultureItems)
            {
                <option value="@item.Value" data-icon="icons/flags/@string.Concat(item.Text, ".svg#", item.Text)">@item.Text</option>
            }
        </select>
    </form>
</div>