<div class="container">
    <table id="tblData" class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>
                    Visitor Name
                </th>
                <th>
                    State Name
                </th>
                <th>
                    Date
                </th>
                <th>

                </th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/visited-state.js"></script>
}
